

body{
    font-family: "QuickSand", sans-serif;
}
#product,#pricing,#register,#footer{
    padding: 4rem 0;
}
video{
    max-width: 100%;
}
.options{
    list-style-type: none;
    padding: 0;
}
.options li{
    margin-bottom: 1.4rem;
}
.options i{
    margin-right: 0.4rem;
}
.card-footer button{
    
        margin-top: 0.5rem;
    }

.card-footer i{
    vertical-align: middle;
}
#register{
background: linear-gradient(355deg, rgba(8, 237, 25, 1) 0%, rgba(109, 199, 154, 0.4) 63%)
, #666 url(../shubham-dhage-2.jpg) center top no-repeat;
background-size: cover;

}

@media screen and (min-width: 576px)and (max-width: 768px ){
    video{
        width: 80%;
        margin: 0 auto;
    }
}