

body{
    font-family: "QuickSand", sans-serif;
}

#product,#pricing,#register,#footer{
    padding: 4rem 0;
}

#product{
    padding-top: 8rem;
}
video{
    max-width: 100%;
}
.options{
    list-style-type: none;
    padding: 0;
}
.options li{
    margin-bottom: 1.4rem;
}
.options i{
    margin-right: 0.4rem;
}
.card-footer button{
    
        margin-top: 0.5rem;
    }

.card-footer i{
    vertical-align: middle;
}
#register{
background: linear-gradient(355deg, rgba(8, 237, 25, 1) 0%, rgba(109, 199, 154, 0.4) 63%)
, #666 url(img/shubham-dhage-2.jpg) center top no-repeat;
background-size: cover;

}
.footer-title{
    text-transform: uppercase;
}
.footer-text{
    font-size: 0.9rem;
}
#footer a{
    text-decoration: none;
    border-bottom: 1px dotted gray;
    color: black;
}
#footer a:hover{
    font-weight: bold;
}

.btn, .card{
    border-radius:0;
}

.card-header{
    border:none;
    background:white;
    font-weight: bold;
}

.card-footer{
    background:white;
    color: rgb(42, 184, 42);
}

.card-footer .btn:hover{
    background: rgb(4, 71, 7);
}
.card.popular, .card.popular .card-header, .card.popular .card-footer{
    background: rgba(18, 211, 60, 0.418);
    color: black;
}
/* mobile and tab screen styles */
@media screen and (max-width: 576px) {
    .btn-success, .btn-success:hover {
        background: none;
        border: none;
    }
    .btn-success:active:focus{
        box-shadow: none;
    }
    
    #header .text-white{
        color: gray !important;
     }
     
}

@media screen and (min-width: 576px)and (max-width: 768px ){
    video{
        width: 80%;
        margin: 0 auto;
    }
}

    
    
